---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "device-pixels",
        "url-helpers",
        "colours",
        "css3",
        "helpers",
        "measurements",
        "conditionals",
        "grid_layout",
        "typography",

        "local-typography",

        "syntax-highlighting"
;
body { margin: 0; }

#page-container {
   @extend %site-width-container;
}

.grid-row {
   @extend %grid-row;
}
.column-quarter {
     @include grid-column( 1/4 );
   }
   .column-half {
     @include grid-column( 1/2 );
   }
   .column-third {
     @include grid-column( 1/3 );
   }
   .column-two-thirds {
     @include grid-column( 2/3 );
   }
   .column-desktop-third {
     @include grid-column( 1/3, $full-width: desktop );
   }

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-4;
        }
    }
}


$header-background-colour: #5D5D5D;
$header-title-colour: #BCBBBB;
$header-subtitle-colour: #C785AE;

/**
 * Header
 */
header.site-header {
  min-height: 380px;
  position: relative;
  padding: 1px 0;
  background-color: $header-background-colour;
  height:100vh;
  text-align: center;
  a.site-title {
    @include core-100;
    line-height: 0.87em;
    display: block;
    margin: 30vh 0 0;
    color: $header-title-colour;
    font-family: $title-family;
    text-decoration: none;

    //display: inline-block;
    //-webkit-box-sizing: content-box;
      //-moz-box-sizing: content-box;
      //box-sizing: content-box;
      //border: none;
      //font: normal 70px/1 "Aladin", Helvetica, sans-serif;
      //color: rgba(48,48,48,1);
      //text-align: center;
      text-transform: normal;
      //-o-text-overflow: clip;
      //text-overflow: clip;
      //white-space: pre;
      text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    &:hover {
      //text-decoration: underline;
    }
  }
  p.subtitle {
    color: $header-subtitle-colour;
    @include core-36;
    font-weight: 300;
  }
  nav.nav-skip {
    position: absolute;
    bottom: $gutter-two-thirds;
    display: block;
    width: 100%;
    a {
      text-align: center;
      color: $white;
      text-decoration: none;
      @include core-19;
      font-weight: 300;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
