.right {
  float: right;
  margin-right: 0;
  margin-left: $gutter;
}
.left {
  float: left;
  margin-right: $gutter;
  margin-left: 0;
}
abbr {
  border-bottom: 1px dotted $dark-grey;
}

@mixin border {
  border-bottom: 1px solid $light-grey;
}

article img {
  width: 100%;
}

aside {
  margin-top: $gutter;
  margin-bottom: $gutter;
  width: 25%;
}
