/**
 * Header
 */
footer {
  background-color: $dark-grey;
  //border-top: 20px solid $light-grey;
  color: $white;
  .content {
    padding: $gutter 0;
  }
  h2 {
    font-family: $heading-family;
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    font-weight: bold;
    color: $light-grey;
  }
}
