/**
 * Navigation
 */
nav.site-nav {
  display: none;
  @include media(tablet) {
     display: block;
  }
  padding: $gutter-one-third 0;
  border-bottom: 1px solid #EFEFEF;
  .back-to-top {
    float: right;
    margin-right: 0;
    background-color: $light-grey;
    color: $white;
    display: block;
    padding: 1px 8px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:hover {
      color: $white;
      background-color: $dark-grey;
      border-bottom: none;
    }
    @include media(tablet) {
     display: none;
    }
  }
}
#homepage {
  nav.site-nav {
    display: block;
    padding: $gutter 0;
    @include media(tablet) {
     height: auto;
    }
    a {
      margin: 0 $gutter 0 0;
      display: block;
      border-bottom: none;
      &:hover {
        @include media(tablet) {
          @include border;
        }
      }
      @include media(tablet) {
        display: inline;
      }
    }
    .back-to-top {
      display: none;
    }
  }
}
