/**
 * Header
 */
@mixin header {
  background-color: $header-background-colour;
}

@mixin site-title {
  color: $header-title-colour;
  font-family: $title-family;
  text-decoration: none;
  text-transform: normal;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67);
}

@mixin subtitle {
  color: $header-subtitle-colour;
  font-weight: 300;
}

@mixin nav-skip-link {
  a {
    text-decoration: none;
    @include core-19;
    font-weight: 300;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

header.site-header {
  @include header;
  padding: $gutter-one-third 0;
  a.site-title {
    @include site-title;
    @include core-36;
    color: $white;
  }
  span.strap {
    @include core-16;
    font-family: $regular-family;
    color: $light-grey;
    margin: 0 0 0 5px;
  }
  nav.nav-skip {
    float: right;
    margin: 3px $gutter-half 0 0;
    @include media(tablet) {
     display: none;
    }
    @include nav-skip-link;
  }
  span.subtitle {
    display: none;
  }
}

#homepage {
  header.site-header {
    @include header;

    background: url(/images/retrospective.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 470px;
    position: relative;
    padding: 1px 0;
    height:100vh;
    text-align: center;

    a.site-title {
      @include site-title;
      @include core-100;
      line-height: 0.87em;
      margin: 30vh 0 0;
      display: block;
    }
    span.strap {
      display: none;
    }
    span.subtitle {
      @include subtitle;
      @include core-36;
      display: block;
      margin: $gutter 0;
    }
    nav.nav-skip {
      position: absolute;
      bottom: $gutter*3;
      display: block;
      width: 100%;
      @include media(tablet) {
       bottom: $gutter-two-thirds;
      }
      @include nav-skip-link;
    }
  }
}
