//$header-background-colour: #5D5D5D;
//$header-title-colour: #BCBBBB;
//$header-subtitle-colour: #C785AE;

/*
 Primary colours
 */
$navy: #314D5A;
$dark-grey: #4C4D4F;
$light-grey: #A7A9AC;
$light-pink: #C55F9A;
$dark-pink: #C41A7A;

/*
 Secondary colours
 */
$light-torquoise: #49A2A9;
$dark-turquoise: #378990;
$mauve: #5D2D49;

$header-background-colour: $navy;
$header-title-colour: $light-grey;
$header-subtitle-colour: $light-pink;
