// Typography
// ==========================================================================

// GOV.UK front end toolkit dependencies


// Increase the base font size to 19px for the main content area
// Using the core-19 mixin from the govuk_toolkit _typography.scss file

$title-family: 'Playball', cursive;
$regular-family: 'Raleway', sans-serif;

@mixin site-title {
  color: $header-title-colour;
  font-family: $title-family;
  text-decoration: none;
  text-transform: normal;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67);
}

@mixin subtitle {
  color: $header-subtitle-colour;
  font-weight: 300;
}

@mixin nav-skip-link {
  a {
    text-decoration: none;
    @include core-19;
    font-weight: 300;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

main, header, footer, nav {
  @include core-19;
  font-family: $regular-family;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: $navy;
}

h1, h2, h3, h4, h5, h6 {
  &.heading-xlarge, &.heading-large, &.heading-medium, &.heading-small {
    font-weight: 400;
    color: $dark-turquoise;
  }
}

/**
 * Footer
 */
footer {
  a {
    font-weight: bold;
    color: $light-grey;
  }
}

/**
 * Navigation
 */
 nav.site-nav {
   @include media(tablet) {
    display: block;
    @include core-24;
    font-weight: 200;
    padding: $gutter-half 0;
   }
   a {
     margin: 0 $gutter-half 0 0;
     color: $navy;
     text-decoration: none;
     &:hover {
       color: $dark-grey;
       @include border;
     }
   }
 }
 #homepage {
   nav.site-nav {
     @include core-48;
     font-weight: 100;
     @include media(tablet) {
      height: auto;
     }
   }
 }

/**
 * Gallery
 */
ul.gallery {
      header {
        h2 {
          @include core-16;
          font-weight: 700;
          padding: 0 0 $gutter-one-third 0;
          margin: 0;
          border-bottom: 1px solid $extra-light-grey;
          a {
            text-decoration: none;
            color: $navy;
            &:hover {
                @include border;
                color: $dark-grey;
            }
          }
        }
        p {
          @include core-16;
          margin: $gutter-one-third 0 0;
        }
      }
}

.leading-text {
  @include core-24;
    font-weight: 400;
}

article p:first-of-type {
  font-weight: 500;
}

.secondary-heading {
  display: block;
  @include core-24;
  margin-bottom: 0;
  color: $dark-turquoise;
  margin: $gutter 0 0;
}
.sub-secondary-heading {
  display: block;
  @include core-19;
  font-weight: 300;
  margin: 0 0 $gutter;
}
aside {
  h3 {
    margin-top: 0;
    color: $dark-turquoise;
  }
}
