/**
 * Header
 */
@mixin site-nav {
  display: block;
  font-weight: 300;
}
nav.site-nav {
  display: none;
  padding: $gutter-one-third 0;
  border-bottom: 1px solid #EFEFEF;

  @include media(tablet) {
   @include site-nav;
   @include core-24;
   font-weight: 200;
   padding: $gutter-half 0;
  }
  a {
    margin: 0 $gutter-half 0 0;
    color: $dark-grey;
    text-decoration: none;
    &:hover {
      color: $navy;
      @include border;
    }
  }
  .back-to-top {
    float: right;
    margin-right: 0;
    background-color: $light-grey;
    color: $white;
    display: block;
    padding: 1px 8px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:hover {
      color: $white;
      background-color: $dark-grey;
      border-bottom: none;
    }
    @include media(tablet) {
     display: none;
    }
  }
}
#homepage {
  nav.site-nav {
    @include site-nav;
    padding: $gutter 0;
    @include core-36;
    font-weight: 100;
    @include media(tablet) {
     height: auto;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    a {
      margin: 0 $gutter 0 0;
    }
  }
}
