/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-1;
        }
    }
}
footer {
  .icon {
      > svg {
          path {
              fill: $grey-4;
          }
      }
  }
}
