.right {
  @include media(tablet) {
    float: right;
    margin-right: 0;
    margin-left: $gutter;
  }
}
.left {
  @include media(tablet) {
    float: left;
    margin-right: $gutter;
    margin-left: 0;
  }
}
abbr {
  border-bottom: 1px dotted $dark-grey;
}

@mixin border {
  border-bottom: 1px solid $light-grey;
}

article img {
  width: 100%;
}

aside {
  padding: $gutter-half;
  background-color: white;
  margin: $gutter;
  @include media(tablet) {
    margin: $gutter;
    width: 30%;
  }
}
img {
  &.left, &.right {
    @include media(tablet) {
      width: 40%;
    }
  }
  margin-bottom: $gutter-two-thirds;
}
