---
layout: default
---
  <article class="post">

    <header class="post-header">
      <h1 class="heading-xlarge">{{ page.title }}</h1>
      <span class="secondary-heading">{{ page.organisation }}</span>
      <span class="sub-secondary-heading">{{ page.timescale }}</span>
    </header>

    <p class="leading-text">{{ page.leading_text }}</p>
    <img src="/images/{{ page.image_project }}/{{ page.main_image }}.jpg" alt="{{ page.title }}"/>

    <div class="post-content">
      {{ content }}
    </div>

  </article>
