@mixin images {
  border: 1px solid;
  border-color: govuk-colour("mid-grey");
  background-color:  govuk-colour("light-grey");
}

.govuk-header {
    background: $dark;
  }
.govuk-header__container {
    border-bottom: 0px;
    margin-bottom: 5px;
}
.govuk-header {
  .subtitle {
    display: block;
    @include govuk-media-query($from: mobile) {
      margin: -6px 0 0 14px;
    }
    @include govuk-media-query($until: tablet) {
      margin: -3px 0 0 9px;
    }
  }
}
.govuk-footer {
  background-color: $footer-colour;
}
.subtitle {
  margin-bottom: -20px;
}

article {
  img {
    @include images;
    padding: 10px;
    margin-left: -11px;
    margin-bottom: 20px;
    width: 100%;
  }
}

span.icon {
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.menulist {
  li {
    display: block;
    overflow: auto;
    padding-left: 1px;
  }
  img {
    @include images;
    padding: 5px;
    width: 150px;
    margin-right: 20px;
    float: left;
  }
}
// change
.govuk-back-link {
  padding-bottom: 30px;
}
// End of change