$title-family: 'Playball', cursive;
$heading-family: 'Raleway', sans-serif;
$regular-family: 'Open sans', sans-serif;

.govuk-body {
  font-family: $regular-family;
  font-weight: 300;
}
.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.subtitle,
.secondary-heading,
.sub-secondary-heading {
  font-family: $heading-family;
  font-weight: 300;
  color: $dark;
}
.govuk-header {
  .site-title {
    font-family: $title-family;
    color: govuk-colour("white");
    text-decoration: none;
    :hover {
      color: govuk-colour("white");
      text-decoration: none;
    }
  }
  .subtitle {
    color: govuk-colour("white");
  }
}
.govuk-body-l {
  font-family: $heading-family;
}
.govuk-footer {
  p {
    color: govuk-colour("white");
    font-family: $heading-family;
    a {
      color: govuk-colour("white");
    }
  }
}
.govuk-list {
  font-weight: 300;
}
